# MacOS
.DS_Store

#VSCode
.vscode/

#Instructions
instructions.md

# too much data. but keep the original and aggregated json
data/*
# !data/csvs/
# data/csvs/*
# !data/csvs/20240904_08_28_96_max_jac_dmn_as_cntry_pyasn_org.csv

!data/jsons/
data/jsons/*
!data/jsons/monthly_aggregated_data.json

!data/latest/
data/latest/*
!data/latest/*_edited.csv

#Python
.venv/
__pycache__/